.eventList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  .eventItem {
    margin: 10px;
    line-height: 25px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.01);
    }
    h2 {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      border-radius: 10px;
    }
    a {
      margin-top: 15px;
    }
    .linkToEvent {
      margin-top: 30px;
      display: block;
      text-align: center;
    }
  }
}
